.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 1.5em;
}

.container {
    display: flex;
    align-items: center;
}

.container__botao {
    display: none;
}

.container__logo {
    padding: 0 1em 0 1.5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, 
.lista-menu__item {
    padding: 1.25em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    color: var(--azul-degrade);
    text-decoration: none;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opções {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
    }

    .opções__item {
        padding: 1em;
        text-transform: uppercase;
        list-style-type: none;
    }

    .opções__link {
        text-decoration: none;
        color: var(--cor-texto);
    }

    .container__icone--favorito {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opções__item-container {
        position: relative;
    }

    .lista-menu {
        position: absolute;
    }

    .opções__botão:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opções__botão {
        display: none;
    }
}